<h1> This is where the user will have his restaurants dispalyed </h1>

<p>  Pseudocode </p>

##if user_is?(current_user)
	then display restaurants.ownedby? (current_user)
end
## if belongs_to :user  
## still trying to figure out how to do this
## @myrestaurants = @current.user.documents
## @restaurant
<% @restaurants.each do |restaurant| %>
<p>
  <strong>Phone:</strong>
  <%= restaurant.phone %>
</p>
<% end %>
